html {
  background: #ddd;
}

nav > ul {
  margin: 0;
  padding: 0;
}

#article-feed {
  width: 100%;
}
#article-feed > article {
  background-color: #eee;
  padding: 10px;
  margin-bottom: 10px;
}
article {
  margin: auto;
  width: 800px;
}
article > h3 {
  color: #666;
  margin-bottom: 0;
  font-size: 36px;
}
article > p {
  color: #333;
  margin-top: 5px;
  font-size: 24px;
}

.flashy {
  color: red;
  font-style: italic;
  list-style-type: none;
  display: inline;
  padding: 10px 20px 10px;
}
.best {
  font-size: 50px;
  background-color: cornflowerblue;
  color: blue;
}